.button {
    &__wrapper {
        height: 50px;
        width: 147px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
    }
}